@{
    ViewData["Title"] = "Home Page";
}


<div class=" jumbotron text-center">

    <img  alt="Temi" class="border bg-light p-1 border-light-gray rounded-circle" src ="Assets\Pictures\photo.png" />
    <h1>Peter Adeojo</h1>
    <p>Software Developer </p>
</div>

<div class=" container">

    <div class="row">

        <div class="col-lg-12">

            <h2>Place holder Text</h2>

        </div>


    </div>

</div>
<!------<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>--->
